# Caso ETL
## Dataset para análisis correlación entre la valoración del bitcoin y valores NASDAQ

## Extract

In [8]:
import pandas as pd
import yfinance as yf
import requests

In [6]:
# accediendo al último día de la acción de amazon y creando un dataframe
tk = yf.Ticker('AMZN')
raw_df = pd.DataFrame(tk.history(period='1d'))
raw_df

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-11-23,3585.040039,3621.050049,3557.0,3558.429932,1078024,0,0

In [7]:
# obteniendo solo las variables de interes
raw_df[['Open', 'High','Low','Close']]

                   Open         High     Low        Close
Date
2021-11-23  3585.040039  3621.050049  3557.0  3558.429932

In [12]:
# obteniendo valor de BTC desde Coinbase
response = requests.get('https://api.coinbase.com/v2/prices/spot?currency=USD')
btc_raw = response.json()
btc_raw

{'data': {'base': 'BTC', 'currency': 'USD', 'amount': '57028.26'}}

In [13]:
btc_raw['data']['amount']

'57028.26'

## Transform

## Load